

<div class="row justify-content-center mt-3">
    <h1>Manage Visitors</h1>


    <div id="btn-create" class="mr-5" style="float: right;" >
        <a [routerLink]="['/person-detail/']">
        <button type="button" id='btn-delete' class="btn btn-primary btn-lg ml-3 mt-1"><i class="fas fa-user-plus"></i>  Create</button>
    </a>
    </div>
</div>
<div class="row">
<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-6 m-2" *ngFor='let person of people'>
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{ person.photo }}">
                </div>

                <div class="col-sm-7">
                    <div class="card-body">
                        <h1 class="card-title">{{ person.name }}</h1>
                        <p class="card-text">"{{ person.description }}"</p>
                        <a href="http://localhost:4200/person-detail/{{ person.id }}" class="btn btn-primary">View Visitor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
