
#profile-box {
  background: #fff;
  border: 1px solid rgba(0,0,0,.0975);
  border-radius: 1px;
  margin-top: 6em;
}

.btn-primary{
  background-color: rgb(18, 166, 199);
  border: 0ch;
  color: white;
}

#btn-create{
  position: relative;
  left: 70px;
}

.btn-back :hover{
color: white;
}

.btn-back{
color: red;
}
